@font-face {
    font-family: 'Heaters';
    src: url('/css/Heaters.otf') format('truetype');
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #e3f2fd;
}

main {
    flex: 1 0 auto;
}

h1 {
    display: flex;
    justify-content: center;
}

.link-form {
    font-size: 18px;
    display: flex;
    justify-content: center;
    width: 50%;
    margin-left: 25%;
}

.brand-logo{
    font-family: 'Heaters', sans-serif;
    margin-left: 20px;
}

.blog-name {
    font-family: 'Heaters', sans-serif;
}

.container {
    width: 100%;
}

h3, h5, h1, h2 {
    font-family: 'Heaters', sans-serif;
}

.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    width: 100%;
}

.container-form > form {
    width: 50%;
    padding: 30px;
}

.content-post {
    border: solid 3px black;
    display: flex;
}

@media screen and (min-width: 993px){
    .responsive-nav {
        display: none;
    }
}

@media screen and (max-width: 993px){ 
    .nav {
        display: none;
    }

    .msg-flash {
        position: absolute;
        top: 77vh;
        width: 90%;
    }
}

.parallax-container {
    width: 100%;
}

.container{
    max-width: none;
}
    
.msg-flash {
    position: absolute;
    top: 81vh;
    width: 50%;
}

.bloc-item {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
}

.item-error {
    width: 60%;
    height: 60%;
    margin-top: 70px;
}

.img-error {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.btn-back {
    margin-top: 20px;
}

.bloc-msg-good {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100px;
    left: 50px;
    position: absolute;
    width: 400px;
    height: 60px;
    background-color: green;
    color: white;
}

.bloc-msg-bad {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100px;
    left: 50px;
    position: absolute;
    width: 400px;
    height: 60px;
    background-color: red;
    color: white;
}


